releases:
  - name: listmonk
    labels:
      domain: backend
      component: listmonk
    namespace: listmonk
    chart: bitnami/listmonk
    version: "0.1.0"
    values:
      - {{ .Values.valuesDir }}/listmonk/values.yaml
