releases:
  - name: kube-prometheus-stack
    labels:
      domain: monitoring
      component: prometheus
    namespace: monitoring
    chart: prometheus-community/kube-prometheus-stack
    version: "~58.0.0"
    values:
      - {{ .Values.valuesDir }}/prometheus/values.yaml
